.projects_container{
    padding-top: 20px;
}
.resume_container{
    padding: 10px 20px;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.tab_selected{
    opacity:1;
}
.tab_unselected{
    opacity:0.3;
}

.tab_unselected:hover{
    opacity:0.7;
}

.panel{
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 20px;
}

.panel > h2{
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #3b3a30;
    cursor: pointer;
}

.titles{
    display: none;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 5px;
    color: #3b3a30;
}

.project_container{
    margin-top: 10px;
}

.para-title{
    color: #4D4D4D;
    font-size: 20px; 
    font-weight: 700;
    line-height: 35px;
}

.para-content{
    font-size: 18px; 
    font-weight: 500;
    line-height: 30px;
}

.project_h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.project_header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project_header > img{
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.project_duration{
    color: #4D4D4D;
    font-size: 20px; 
    font-weight: 400;   
}

.project_conpany{
    margin-left: 10px;
}

.list_container{
    /* margin-top: 10px; */
    padding-left: 30px;
}

.skill-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-left: 30px; */
    color: #3b3a30;
}

.skill-header{
    /* display: inline-block; */
    white-space: nowrap;
    font-size: 20px; 
    /* font-weight: 700; */
    line-height: 35px; 
    color: #3b3a30;


}

.skill-content{
    display: inline-block;
    font-size: 20px; 
    /* font-weight: 700; */
    line-height: 35px; 
    

}

.footer{
    color: #bbb;
    font-size: 12px;
    text-align: center;
    margin: 40px 0 20px;
}

.back-to-top{
    display: inline-block;
    color: #fff;
    background-color: #5AA9FF;
    border: 1px solid #5AA9FF;
    border-radius: 5px;
    margin-left: 3px;
    padding: 4px 8px;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
}

.paras_container div:nth-child(n+2){
    padding-top: 10px;
}


@media (max-width: 800px){
    .resume_container{
        padding: 0px 10px;
    }
    .panel{
        display: none;
    }
    .titles{
        display: block;
    }
}


